<!-- Set up Off-canvas -->
  <div class="off-canvas-wrapper">
      <div class="off-canvas position-left " id="offCanvasLeft" data-off-canvas>
        <!-- left off-canvas markup -->
        <ul class="mobile-ofc vertical menu">
          <li>
            <a href="https://www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Google</a>
          </li>
        </ul>
 
      </div>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <!-- right off-canvas markup -->

      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        {{> nav}}
        <!-- page content -->
      </div>
  </div>
{{!-- <script src="../js/{{script}}"></script> --}}


<!-- Fire Off-canvas -->