<!-- Set up Off-canvas -->
<body>
  <div class="off-canvas-wrapper">
      <div class="off-canvas position-left " id="offCanvasLeft" data-off-canvas>
        <!-- left off-canvas markup -->
        <div>
        <a href=""><button>Javascript</button></a>
        </div>
        <div>
        <a href=""><button>Javascript</button></a>
        </div>
        <div>
        <a href=""><button>Javascript</button></a>
        </div>
        <div>
        <a href=""><button>Javascript</button></a>
        </div>
 
      </div>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <!-- right off-canvas markup -->

      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        {{> nav}}
        <!-- page content -->
      </div>
  </div>
</body>

<!-- Fire Off-canvas -->
<button type="button" class="button" data-toggle="offCanvasLeft">Open Menu</button>
<script src="../js/{{script}}"></script>