<!-- Set up Off-canvas -->
  <div class="off-canvas-wrapper">
      <div class="off-canvas position-left " id="offCanvasLeft" data-off-canvas>
        <button class="close-button" aria-label="close-menu" type="button" data-close="">
          <span aria-hidden="true">x</span>
        </button>
        <!-- left off-canvas markup -->
        <ul class="mobile-ofc vertical menu">
          <li>
            <a href="https://www.google.com">Google</a>
          </li>
          <li>
            <a href="www.google.com">Javascript</a>
          </li>
          <li>
            <a href="www.google.com">C++</a>
          </li>
          <li>
            <a href="www.google.com">Typescript</a>
          </li>
          <li>
            <a href="www.google.com">PHP</a>
          </li>
          <li>
            <a href="www.google.com">Go</a>
          </li>
          <li>
            <a href="www.google.com">Java</a>
          </li>
          <li>
            <a href="www.google.com">Python</a>
          </li>
          <li>
            <a href="www.google.com">React</a>
          </li>
          <li>
            <a href="www.google.com">SQL</a>
          </li>
          <li>
            <a href="www.google.com">JQuery</a>
          </li>
          <li>
            <a href="www.google.com">Git</a>
          </li>
          <li>
            <a href="www.google.com">Django</a>
          </li>
          <li>
            <a href="www.google.com">C</a>
          </li>
          <li>
            <a href="www.google.com">CSS</a>
          </li>
          <li>
            <a href="www.google.com">Node.js</a>
          </li>
        </ul>
 
      </div>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <!-- right off-canvas markup -->

      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        {{> nav}}
        <!-- page content -->
      </div>
  </div>