<div class="container">
  <div class="login-form">
    <h1 class="heading">Login</h1>
    <form
      enctype="multipart/form-data"
      action=""
      method="POST"
      class="login"
      autocomplete="off"
    >
      <input
        type="email"
        name="email"
        placeholder="Email"
        required
        id="email"
        autocomplete="email"
      />
      <input
        type="password"
        name="password"
        autocomplete="new-password"
        placeholder="Password"
        required
        id="password"
      />
        <button type="submit" id="login">Login</button>
      </div>
    </form>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="../js/{{script}}"></script>