<div class="container">
  <div class="signup-form">
    <h1 class="heading">Sign up</h1>
    <form action="" method="POST" class="signup" autocomplete="off">
      <label for="username"></label>
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
        id="username"
        autocomplete="username"
      />
      <label for="email"></label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        required
        id="email"
        autocomplete="email"
      />
      <label for="password"></label>
      <input
        type="password"
        name="password"
        autocomplete="new-password"
        placeholder="Password"
        required
        id="password"
      />
      <label for="password2"></label>
      <input
        type="password"
        name="password2"
        placeholder="Confirm Password"
        autocomplete="new-password"
        required
        id="confirmedPassword"
      />
      <div>
        <button type="submit" id="signup">Sign up</button>
      </div>
    </form>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="../js/avatar.js"></script>
<script src="../js/{{script}}"></script>