* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2a044a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

li.username {
  float: left;
  color: rgb(195, 188, 188);
  font-size: 1.5rem;
  border: solid 2px black;
  padding: 5px;
}
