* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ede9dd;
}

ul {
  background-color: #333;
}

li a {
  text-align: center;
  cursor: pointer;
}

.mobile-ofc li a:hover {
  background-color: #0c3d5d;
}

.is-submenu-item a:hover {
  background-color: #082c44;
}
