* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ede9dd;
}

ul {
  background-color: #333;
}

li a {
  text-align: center;
  cursor: pointer;
}

.mobile-ofc li a:hover {
  background-color: #111;
}
